<main class="position-relative z-1">
  <nav class="navbar navbar-expand-lg  bg-dark w-100 position-fixed top-0 py-1 "
       style="background-color: rgba(0, 0, 0,0.8);">
    <div class="container">
      <a class="navbar-brand fw-bolder" href="https://github.com/bajadda1"
      target="_blank"
      style="">
        <i class="fa fa-code-fork text-warning"></i>
        |Bajadda
<!--        <i class="bi bi-star-fill"></i>-->
      </a>
      <button class="navbar-toggler text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"
      style="color: white">
        <span class="navbar-toggler-icon w-100 ">
          <i class="fa fa-solid fa-bars"></i>
          MENU
        </span>
      </button>
      <div class="collapse navbar-collapse position-relative " id="navbarSupportedContent">
        <ul class="my-nav navbar-nav me-auto py-lg-1 mb-2 mb-lg-0 ms-lg-auto d-lg-flex flex-lg-row justify-content-lg-between w-75">
          <li class="nav-item" *ngFor="let link of links;let ind=index">
            <a class="nav-link "  routerLink="bajadda"
               [fragment]="link.fragment"
            (click)="handleClick(ind)">
              <span [ngClass]="{'active': ind===clickedLinkIndex }">
                <i [class]="link.icon"></i>
                {{link.url}}
              </span>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 </main>
