<section class="ftco-about w-100 text-white d-flex flex-row justify-content-center align-items-center">
  <div class="container ">
    <div class="row d-flex">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="img-about img d-flex align-items-stretch"
             data-aos="fade-up">
        </div>
      </div>
      <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ">
            <div class="w-100 d-flex flex-row justify-content-center justify-content-sm-start">
              <h1 class="mb-5 about-header fw-bolder "
                  data-aos="fade-up">About Me</h1>
            </div>

            <p style="color: #adacac;">
              Hi everyone, I'm a sophomore Geographic Information System(GIS) Engineer student at EHTP - CASABLANCA: Hassania School of Public Works and a junior Full Stack Developer.            </p>
            <ul class="about-info mt-4 px-md-0 px-2 ">
              <li class="d-flex"><span>Name:</span> <span>BAJADDA Ahmed</span></li>
              <li class="d-flex"><span>Date of birth:</span> <span>January 05, 2001</span></li>
              <li class="d-flex"><span>Address:</span> <span>Errahma , Casablanca , Morocco</span></li>
              <li class="d-flex"><span>Zip code:</span> <span>2000</span></li>
              <li class="d-flex"><span>Email:</span> <span>ahmedbajadda&#64;gmail.com</span></li>
              <li class="d-flex"><span>Phone: </span> <span>+212 618-362534</span></li>
            </ul>
          </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3 ">
          <div class="text">
            <p
            data-aos="fade-up"><a href="assets/my_fav_pic/ahmed_resume.pdf"
                                  target="_blank"
                                  class="btn btn-outline-danger py-3 px-3">Download CV
              <i class="bi bi-box-arrow-in-down fw-bold"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
