@keyframes rotate-i {
  0%{

      transform: rotate(-5deg);

  } 100%{

      transform: rotate(5deg);

    }
}
i{
  display: inline-block;
  transform-origin: bottom center;
  animation: rotate-i 1s linear infinite alternate-reverse;
  cursor: pointer;
}
section{
  right: 0;
  bottom: 0 !important;
}
