<section class="w-100 text-white">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-row justify-content-center ">
        <h1 class="resume-header mb-5"
        data-aos="fade-up">
          Resume
        </h1>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">
          <i class="bi bi-mortarboard text-warning"></i>
          Education</h3>
        <div
          class="resume-item"
          *ngFor="let edu of education"
        >
          <h4> {{edu.school}}</h4>
          <div class="px-3">
            <h5>
              <i class="bi bi-star-half p-2 text-warning"></i>{{ edu.year }}
            </h5>
            <p><i class="bi bi-star-half p-2 text-warning"></i><em>{{edu.subject}}</em></p>
            <p><i class="bi bi-star-half px-2 text-warning"></i><em>{{edu.location}}</em></p>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <h3 class="resume-title"> <i class="bi bi-stars text-warning"></i> Professional Experience</h3>
        <div class="resume-item" *ngFor="let experience of experiences">
          <h4>{{ experience.title }}</h4>
          <h5>
            <i class="bi bi-star-half p-2 text-warning"></i>startup : {{experience.startup}}</h5>
          <h5>
            <i class="bi bi-star-half p-2 text-warning"></i>
            location : {{experience.location}}
          </h5>
          <h5>
            <i class="bi bi-star-half p-2 text-warning"></i>
            year : <em>{{ experience.year }} </em></h5>
          <h5>
            <i class="bi bi-star-half p-2 text-warning"></i>
            <em>description : </em></h5>
          <ul>
          <li *ngFor="let desc of experience.description" class="mx-3">
            {{desc}}
          </li>
         </ul>
        </div>

      </div>
      <div class="col-12 d-flex justify-content-center ">
        <p
          data-aos="fade-up"><a href="assets/my_fav_pic/ahmed_resume.pdf"
                                target="_blank"
                                class="btn btn-outline-danger py-3 px-md-5 px-3 ">Download CV
          <i class="bi bi-box-arrow-in-down-right"></i></a></p>
      </div>
    </div>
  </div>
</section>
